<nav *ngIf="router.url !== '/login'">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a routerLink="/letenky">Letenky</a></li>
        <li><a routerLink="/lety">Lety</a></li>
        <li><a routerLink="/terminaly">Terminály</a></li>
        <li><a routerLink="/typyLetadel">Typy Letadel</a></li>
        <li><a routerLink="/letadla">Letadla</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a (click)="logout()">Odhlásit se</a></li>
      </ul>
    </div>
  </div>
</nav>

