@import "../../global";
@import "~foundation-sites/scss/foundation";

@include foundation-table;
@include foundation-button;
@include foundation-switch;
@include foundation-reveal;

:host .button.inline {
  display: inline;
  font-size: $global-font-size*0.8;
  padding: 0.6em 0.8em;
}

:host .table-right {
  text-align: right;
}

:host table input {
  margin-bottom: 0;
}

:host input.ng-invalid.ng-touched {
  @include form-input-error($alert-color, 0%);
}

:host table th div.switch {
  margin: 0.3rem 0 0 0;
}

:host .label-required {
  font-weight: bold;
}
