<form #terminalForm="ngForm" (submit)="onSubmit()">
  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-2"></div>
      <div class="cell auto">
        <div class="grid-x grid-padding-x">
          <div class="small-6 cell">
            <h2>{{title}}</h2>
          </div>
          <div class="small-6 cell">
            <button class="float-right button hollow alert" (click)="deleteTerminal()" *ngIf="terminal.id && !isLoading" [disabled]="submitted">Smazat</button>
          </div>
        </div>
        <div class="grid-x grid-padding-x margin-top-3 margin-bottom-3" *ngIf="isLoading">
          <div class="cell text-center">
            <h3>Načítání ...</h3>
          </div>
        </div>
        <div class="grid-x grid-padding-x margin-top-3 margin-bottom-3" *ngIf="message">
          <div class="cell text-center">
            <div class="callout {{message.type}} text-left" data-closable>
              <p>{{message.text}}</p>
              <!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>-->
            </div>
          </div>
        </div>
        <div class="grid-x grid-padding-x margin-top-3" *ngIf="!isLoading && !created">
          <div class="cell medium-4 small-6">
            <label class="label-required">Název
              <input type="text" required name="name" [(ngModel)]="terminal.name" #name="ngModel">
            </label>
          </div>
          <div class="cell medium-4 small-6">
            <label class="large-text"><b>Počet Gate</b>
              <br>
              <span>{{terminal.gates.length}}</span>
            </label>
          </div>

          <div class="small-12">
            <div class="cell">
              <div class="grid-x">
                <div class="small-12 row">
                  <div class="large-6 cell">
                    <h3>Seznam Gate</h3>
                  </div>
                  <div class="large-6 cell">
                    <a routerLink="/gate/vytvorit" class="button float-right">Vytvořit gate</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="small-12">
            <table>
              <thead>
              <tr>
                <th>
                  ID gate
                </th>
                <th>
                  Název
                </th>
                <th width="150"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let gate of terminal.gates">
                <td><a routerLink="/terminals/{{gate.id}}">{{gate.id}}</a></td>
                <td>{{gate.name}}</td>
                <td class="table-right"><a class="alert button inline {{terminal._submitted ? 'disabled':''}}" (click)="deleteTerminal(terminal)">Smazat gate</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="grid-x grid-padding-x">
        <div class="cell medium-8 cell-center">
          <div class="button-group expanded">
            <a class="clear button text-right" routerLink="/terminaly">Zpět na terminály</a>
            <input type="submit" class="button" *ngIf="!created"
                   value="{{submitted ? 'Odesílání ...' : title}}"
                   [disabled]="!terminalForm.form.valid || submitted || isLoading">
          </div>
        </div>
      </div>
    </div>
    <div class="cell medium-2"></div>
  </div>
  </div>
</form>
