// Foundation for Sites by ZURB
@import '~foundation-sites/scss/util/util';

$global-font-size: 100% !default;

$global-lineheight: 1.5 !default;

$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
) !default;
