<form [formGroup]="myForm" (ngSubmit)="false" >
  <div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="cell">
      <div class="grid-x">
        <div class="large-12 medium-12 small-12 cell">
          <h2>Seznam letů</h2>
        </div>
      </div>
    </div>
    <div class="cell">
        <div class="grid-x">
          <div class="large-2 medium-2 small-2 cell">
            <label class="{{(myForm.get('dateInput').valid || myForm.get('dateInput').untouched) ? '' : 'is-invalid-label'}}"><strong>Datum:</strong>
              <input type="date" placeholder="yyyy-mm-dd" formControlName="dateInput">
              <div [hidden]="myForm.get('dateInput').valid || myForm.get('dateInput').untouched">
                <span class="form-error is-visible">Datum nemá platný formát</span>
              </div>
            </label>
          </div>
          <div class="large-10 medium-10 small-10 grid-margin-x cell">
            <a routerLink="/lety/vytvorit" class="button float-right">Vytvořit let</a>
          </div>
        </div>
    </div>
    <div class="cell">
      <table>
        <thead>
        <tr>
          <th class="{{(myForm.get('flightInput').valid || myForm.get('flightInput').untouched) ? '' : 'is-invalid-label'}}">
            Číslo letu
            <input type="text" formControlName="flightInput">
          </th>
          <th class="{{(myForm.get('timeInput').valid || myForm.get('timeInput').untouched) ? '' : 'is-invalid-label'}}">
            Čas odletu
            <input type="text" formControlName="timeInput">
          </th>
          <th class="{{(myForm.get('terminalInput').valid || myForm.get('terminalInput').untouched) ? '' : 'is-invalid-label'}}">
            Terminál
            <input type="text" formControlName="terminalInput">
          </th>
          <th class="{{(myForm.get('gateInput').valid || myForm.get('gateInput').untouched) ? '' : 'is-invalid-label'}}">
            Gate
            <input type="text" formControlName="gateInput">
          </th>
          <th class="{{(myForm.get('destinationInput').valid || myForm.get('destinationInput').untouched) ? '' : 'is-invalid-label'}}">
            Destinace
            <input type="text" formControlName="destinationInput">
          </th>
          <th width="150"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{flight.id}}</td>
          <td>{{flight.timeOfDeparture.hours + ':' + flight.timeOfDeparture.minutes }}</td>
          <td>{{flight.terminal}}</td>
          <td>{{flight.gate}}</td>
          <td>{{flight.destination}}</td>
          <td class="table-right"><a class="alert button inline" (click)="cancelFlight(flight)">Zrušit let</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</form>
