<div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="cell">
      <div class="grid-x">
        <div class="large-6 medium-6 small-6 cell">
          <h2>Seznam letů</h2>
        </div>
        <div class="large-6 medium-6 small-6 cell">
          <a routerLink="/lety/vytvorit" class="button float-right">Vytvořit let</a>
        </div>
      </div>
    </div>
    <div class="cell">
      <form>
        <div class="grid-x grid-margin-x">
          <div class="large-2 medium-3 cell">
            <label>Datum odletu
              <input type="text" placeholder="YYYY-MM-DD" value="{{selectedDate | date: 'yyyy-MM-dd'}}">
            </label>
          </div>
          <div class="large-1 medium-2 cell">
            <label>Čas odletu
              <input type="text" placeholder=".medium-6.cell">
            </label>
          </div>
          <div class="large-1 medium-2 cell">
            <label>Číslo letu
              <input type="text" placeholder=".medium-6.cell">
            </label>
          </div>
          <div class="large-1 medium-2 cell">
            <label>Terminál
              <input type="text" placeholder=".medium-6.cell">
            </label>
          </div>
          <div class="large-1 medium-2 cell">
            <label>Gate
              <input type="text" placeholder=".medium-6.cell">
            </label>
          </div>
          <div class="large-2 medium-3 cell">
            <label>Destinace
              <input type="text" placeholder=".medium-6.cell">
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="cell">
      <table>
        <thead>
        <tr>
          <th>Číslo letu</th>
          <th>Čas odletu</th>
          <th>Terminál</th>
          <th>Gate</th>
          <th>Destinace</th>
          <th width="100"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{flight.id}}</td>
          <td>{{flight.departureTime.hours+':'+flight.departureTime.minutes}}</td>
          <td>{{flight.terminal}}</td>
          <td>{{flight.gate}}</td>
          <td>{{flight.destination}}</td>
          <td class="table-right"><a class="alert button inline" (click)="cancelFlight(flight)">Zrušit let</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
