<div class="grid-container fluid">
  <div class="grid-x grid-margin-x">
    <div class="cell">
      <h2>Seznam letů</h2>
    </div>
    <div class="cell">
      <form>
        <div class="grid-x grid-margin-x">
          <div class="large-2 cell">
            <label><strong>Datum:</strong>
              <input type="date" placeholder="yyyy-mm-dd">
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="cell">
      <table>
        <thead>
        <tr>
          <th>Číslo letu<input type="text" placeholder=".medium-3.cell"></th>
          <th>Čas odletu<input type="text" placeholder=".medium-1.cell"></th>
          <th>Terminál<input type="text" placeholder=".medium-2.cell"></th>
          <th>Gate<input type="text" placeholder=".medium-1.cell"></th>
          <th>Destinace<input type="text" placeholder=".medium-2.cell"></th>
          <th width="150"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1023</td>
          <td>11:20</td>
          <td>Nazev</td>
          <td>Nazev</td>
          <td>Destinace</td>
          <td class="table-right"><a class="alert button inline">Zrušit let</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
