@import "../../global";
@import "~foundation-sites/scss/foundation";

@include foundation-table;
@include foundation-button;

:host .button.inline {
  display: inline;
  font-size: $global-font-size*0.8;
  padding: 0.6em 0.8em;
}

:host .table-right {
  text-align: right;
}
