<form [formGroup]="myForm" (ngSubmit)="false" >
  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <div class="grid-x">
          <div class="large-12 medium-12 small-12 cell">
            <h2>Seznam typů letadel</h2>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="grid-x">
          <div class="small-12 grid-margin-x cell">
            <a routerLink="/typyLetadel/vytvorit" class="button float-right">Přidat typ letadla</a>
          </div>
        </div>
      </div>
      <div class="cell">
        <table>
          <thead>
          <tr>
            <th class="{{(myForm.get('nameInput').valid || myForm.get('nameInput').untouched) ? '' : 'is-invalid-label'}}">
              Model
              <label>
                <input type="text" formControlName="nameInput">
              </label>
            </th>
            <th class="{{(myForm.get('manufacturerInput').valid || myForm.get('manufacturerInput').untouched) ? '' : 'is-invalid-label'}}">
              Výrobce
              <label>
                <input type="text" formControlName="manufacturerInput">
              </label>
            </th>
            <th class="{{(myForm.get('countOfAirplaneTypesInput').valid || myForm.get('countOfAirplaneTypesInput').untouched) ? '' : 'is-invalid-label'}}">
              Počet letadel
              <label>
                <input type="text" formControlName="countOfAirplaneTypesInput">
              </label>
            </th>
            <th width="175"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let airplaneType of airplaneTypes">
            <td><a routerLink="/typyLetadel/{{airplaneType.name}}">{{airplaneType.name}}</a></td>
            <td>{{airplaneType.manufacturer}}</td>
            <td>{{airplaneType.countOfAirplaneTypes}}</td>
            <td class="table-right"><a class="alert button inline {{airplaneType._submitted ? 'disabled':''}}" (click)="deleteAirplaneType(airplaneType)">Smazat typ letadla</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
