<form #airplaneTypeForm="ngForm" (submit)="onSubmit()">
  <div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-2"></div>
      <div class="cell auto">
        <div class="grid-x grid-padding-x">
          <div class="small-6 cell">
            <h2>{{title}}</h2>
          </div>
          <div class="small-6 cell">
            <button class="float-right button hollow alert" (click)="deleteAirplaneType()" *ngIf="airplaneType.id && !isLoading" [disabled]="submitted">Smazat</button>
          </div>
        </div>
        <div class="grid-x grid-padding-x margin-top-3 margin-bottom-3" *ngIf="isLoading">
          <div class="cell text-center">
            <h3>Načítání ...</h3>
          </div>
        </div>
        <div class="grid-x grid-padding-x margin-top-3 margin-bottom-3" *ngIf="message">
          <div class="cell text-center">
            <div class="callout {{message.type}} text-left" data-closable>
              <p>{{message.text}}</p>
              <!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>-->
            </div>
          </div>
        </div>
        <div class="grid-x grid-padding-x margin-top-3" *ngIf="!isLoading && !created">
          <div class="cell medium-4 small-6">
            <label class="label-required {{(name.valid || name.untouched) ? '' : 'is-invalid-label'}}">Model
              <input type="text" required name="name" [(ngModel)]="airplaneType.name" #name="ngModel">
            </label>
          </div>
          <div class="cell medium-4 small-6">
            <label class="label-required {{(manufacturer.valid || manufacturer.untouched) ? '' : 'is-invalid-label'}}">Výrobce
              <input type="text" required name="manufacturer" [(ngModel)]="airplaneType.manufacturer" #manufacturer="ngModel">
            </label>
          </div>
          <div class="cell small-12">
            <div class="cell">
              <div class="grid-x">
                <div class="small-6 cell">
                  <h3>Seznam povolených gate</h3>
                </div>
                <div class="small-6 cell">
                  <a class="button float-right" (click)="addGate('exampleModal1')">Přidat gate</a>
                </div>
              </div>
            </div>
            <div class="cell small-12">
              <table>
                <thead>
                <tr>
                  <th>
                    Terminál
                  </th>
                  <th>
                    Název
                  </th>
                  <th width="150"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let gate of airplaneType.gates">
                  <td>{{gate.terminalName}}</td>
                  <td>{{gate.name}}</td>
                  <td class="table-right"><a class="alert button inline" (click)="deleteGate(gate)">Odstranit gate</a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="grid-x grid-padding-x">
          <div class="cell medium-8 cell-center">
            <div class="button-group expanded">
              <a class="clear button text-right" routerLink="/typyLetadel">Zpět na typy letadel</a>
              <input type="submit" class="button" *ngIf="!created"
                     value="{{submitted ? 'Odesílání ...' : title}}"
                     [disabled]="!airplaneTypeForm.form.valid || submitted || isLoading">
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-2"></div>
    </div>
  </div>
</form>
<div class="reveal-overlay" style="display: none;">
  <div class="reveal" id="exampleModal1">
    <h1>Gate</h1>
    <label class="label-required">Terminál
      <select required name="terminal" [formControl]="terminalNameInput">
        <option *ngFor="let term of terminals" [value]="term.name">{{term.name}}</option>
      </select>
    </label>
    <label class="label-required">Gate
      <select required name="gate" [formControl]="gateNameInput">
        <option *ngFor="let gate of gates" [value]="gate.name">{{gate.name}}</option>
      </select>
    </label>
    <div class="button-group">
      <a class="clear button text-right" (click)="closeModal('exampleModal1')">Zavřít</a>
      <input type="submit" class="button" value="Uložit" [disabled]="!gateNameInput.valid || !terminalNameInput.valid" (click)="saveButton('exampleModal1', gate)">
    </div>
  </div>
</div>
